body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: papayawhip;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}